html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Monoton', cursive;
}

body {
  padding-top: 50px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover {
  color: #399bd1;
}

.jumbotron-bike {
  background-image: url(../images/jumbotron-bike.jpg);
}

.jumbotron-bike .banner {
  margin: 11.85rem 30%;
  text-align: center;
  width: 51.3rem;
  color: #ffffff;
}

.jumbotron-bike .banner header  {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  text-align: center;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.jumbotron-bike .btn .btn-primary .btn-lg {
  margin-top: 2.8rem;
  width: 11.4rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.jumbotron-bike .btn .btn-primary .btn-lg a:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.jumbotron-bike .btn .btn-primary .btn-lg a:active {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.image-container img {
  opacity: 0.7;
}

.feature h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.feature p {
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.7);
}

.highlight {
  color: #399bd1;
}

.projects .description {
  margin-bottom: 5.85rem;
}

.contact {
  background-color: #f3f3f3;
}

.contact .banner {
  padding: 5.2rem 0rem;
  margin: 9rem 30%;
  text-align: center;
  width: 42rem;
  color: #000000;
}

.contact .banner header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}
